header {
    text-align: center;

    h1 {
        img {
            max-height: 1em;
        }
    }
}

main {
    text-align: center;


    button {
        padding: 0.5em 1em;
        cursor: pointer;
    }
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}